xsd/xhtml3.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.w3.org/1999/xhtml" targetNamespace="http://www.w3.org/1999/xhtml">
<group name="flow">
	<choice>
		<element ref="tns:div"></element>
		<element ref="tns:address"></element>
		<element ref="tns:article"></element>
		<element ref="tns:blockquote"></element>
		<element ref="tns:table"></element>
		<element ref="tns:ul"/>
		<element ref="tns:ol"/>
		<element ref="tns:aside"/>
		<element ref="tns:header"/>
		<element ref="tns:footer"></element>
		<element ref="tns:p"/>
		<element ref="tns:nav"/>
		<element ref="tns:h1"/>
		<element ref="tns:h2"/>
		<element ref="tns:h3"/>
		<element ref="tns:h4"/>
		<element ref="tns:h5"/>
		<element ref="tns:h6"/>
		<element ref="tns:pre"/>
		<any processContents="skip"></any>
		<group ref="tns:phrasing"></group>
	</choice>
</group>
<group name="sectioning">

	<choice>
		<element ref="tns:article"></element>
		<element ref="tns:aside"></element>
		<element ref="tns:section"></element>
		<element ref="tns:nav"></element>
	</choice>
</group>
<group name="interactive">
	<choice>
		<element ref="tns:button"></element>
		<element ref="tns:input"></element>
		<element ref="tns:details"></element>
		<element ref="tns:label"></element>
		<element ref="tns:img"></element>
		<element ref="tns:select"></element>
		<element ref="tns:textarea"></element>
		<element ref="tns:video"></element>
	</choice>
</group>
<group name="phrasing">
	<choice>
		<element ref="tns:abbr"/>
		<element ref="tns:b"/>
		<element ref="tns:br"/>
		<element ref="tns:button"/>
		<element ref="tns:canvas"/>
		<element ref="tns:cite"/>
		<element ref="tns:code"/>
		<element ref="tns:dfn"/>
		<element ref="tns:data"/>
		<element ref="tns:datalist"/>
		<element ref="tns:em"/>
		<element ref="tns:embed"/>
		<element ref="tns:i"/>
		<element ref="tns:iframe"/>
		<element ref="tns:img"/>
		<element ref="tns:input"/>
		<element ref="tns:kbd"/>
		<element ref="tns:label"/>
		<element ref="tns:link"/>
		<element ref="tns:mark"></element>
		<element ref="tns:meter"></element>
		<element ref="tns:noscript"></element>
		<element ref="tns:object"></element>
		<element ref="tns:output"></element>
	</choice>
</group>
<attributeGroup name="global">
	<attribute name="id"></attribute>
	<attribute name="class"></attribute>
	<attribute name="is"></attribute>
	<attribute name="hidden"></attribute>
	<attribute name="inputmode"></attribute>
	<attribute name="lang"></attribute>
	<attribute name="style"></attribute>
	<attribute name="entrykeyhint"></attribute>
	<attribute name="draggable"></attribute>
	<attribute name="dir"></attribute>
	<attribute name="contextmenu"></attribute>
	<attribute name="contenteditable"></attribute>
	<attribute name="autofocus"></attribute>
	<attribute name="autocapitalize"></attribute>
	<attribute name="accesskey"></attribute>
</attributeGroup>
<attributeGroup name="aria">
	<attribute name="rol"/>
	<attribute name="aria-labeledby"/>
	<attribute name="aria-autocomplete"/>
	<attribute name="aria-checked"/>
	<attribute name="aria-current"/>
	<attribute name="aria-disabled"/>
	<attribute name="aria-errormessage"/>
	<attribute name="aria-expanded"/>
	<attribute name="aria-haspopup"/>
	<attribute name="aria-hidden"/>
	<attribute name="aria-invalid"/>
	<attribute name="aria-label"/>
	<attribute name="aria-level"/>
	<attribute name="aria-modal"/>
	<attribute name="aria-multiline"/>
	<attribute name="aria-multiselectable"/>
	<attribute name="aria-orientation"/>
	<attribute name="aria-placeholder"/>
	<attribute name="aria-pressed"/>
	<attribute name="aria-readonly"/>
	<attribute name="aria-required"/>
	<attribute name="aria-selected"/>
	<attribute name="aria-sort"/>
	<attribute name="aria-valuemax"/>
	<attribute name="aria-valuemin"/>
	<attribute name="aria-valuenow"/>
	<attribute name="aria-valuetext"/>
	<attribute name="aria-live"/>
	<attribute name="aria-relevant"/>
	<attribute name="aria-atomic"/>
	<attribute name="aria-busy"/>

</attributeGroup>
<attributeGroup name="event">

	<attribute name="onabort"></attribute>
	<attribute name="onautocomplete"></attribute>
	<attribute name="onautocompleteerror"></attribute>
	<attribute name="onblur"></attribute>
	<attribute name="oncancel"></attribute>
	<attribute name="oncanplay"></attribute>
	<attribute name="oncaplaythrough"></attribute>
	<attribute name="onchange"></attribute>
	<attribute name="onclick"></attribute>
	<attribute name="onclose"></attribute>
	<attribute name="oncontextmenu"></attribute>
	<attribute name="oncuechange"></attribute>
	<attribute name="ondbclick"></attribute>
	<attribute name="ondrag"></attribute>
	<attribute name="ondragend"></attribute>
	<attribute name="ondragenter"></attribute>
	<attribute name="ondragleave"></attribute>
	<attribute name="ondragover"></attribute>
	<attribute name="ondragstart"></attribute>
	<attribute name="ondrop"></attribute>
	<attribute name="ondurationchange"></attribute>
	<attribute name="onemptied"></attribute>
	<attribute name="onended"></attribute>
	<attribute name="onerror"></attribute>
	<attribute name="onfocus"></attribute>
	<attribute name="oninput"></attribute>
	
</attributeGroup>

<!--head要素の中身の要素-->
<!--scriptやlinkはbody要素の中でも使われる-->
<element name="meta">
	<complexType>
		<attribute name="name"></attribute>
		<attribute name="property"></attribute>
		<attribute name="content"></attribute>
		<attribute name="charset"></attribute>
	</complexType>
</element>
<element name="link">
	<complexType>
		<attributeGroup ref="tns:global"></attributeGroup>
		<attribute name="href"></attribute>
		<attribute name="type"></attribute>
		<attribute name="rel"></attribute>
	</complexType>
</element>
<element name="script">
	<complexType mixed="true">
		<attributeGroup ref="tns:global"></attributeGroup>
		<attribute name="src"></attribute>
		<attribute name="type"></attribute>
	</complexType>
</element>
<element name="style">
	<complexType mixed="true">
		<attributeGroup ref="tns:global"></attributeGroup>
	</complexType>
</element>
<element name="title">
	<complexType mixed="true">
		<attributeGroup ref="tns:global"></attributeGroup>
	</complexType>
</element>
<element name="base">
	<complexType mixed="true">
		<attributeGroup ref="tns:global"></attributeGroup>
		<attribute name="href"></attribute>
	</complexType>
</element>
<element name="head">
	<complexType>
		<sequence>
			<choice minOccurs="0" maxOccurs="unbounded">
				<element ref="tns:link"></element>
				<element ref="tns:script"></element>
				<element ref="tns:style"></element>
				<element ref="tns:meta"></element>
			</choice>
			<element ref="tns:title"></element>
			<element ref="tns:base" minOccurs="0"></element>
			<choice minOccurs="0" maxOccurs="unbounded">
				<element ref="tns:link"></element>
				<element ref="tns:script"></element>
				<element ref="tns:style"></element>
				<element ref="tns:meta"></element>
			</choice>
		</sequence>
	</complexType>
</element>
<element name="body">
	<complexType mixed="true">
		<group ref="tns:flow" minOccurs="0" maxOccurs="unbounded"></group>
		<attributeGroup ref="tns:global"/>
	</complexType>
</element>
<element name="html">
	<complexType>
		<sequence>
			<element ref="tns:head"></element>
			<element ref="tns:body"></element>
		</sequence>
		<attribute name="lang"></attribute>
	</complexType>
</element>

<element name="div">
	<complexType mixed="true">
		<group ref="tns:flow" minOccurs="0" maxOccurs="unbounded"></group>
		<attributeGroup ref="tns:global"/>
		<attributeGroup ref="tns:aria"/>
		<attributeGroup ref="tns:event"/>
		<anyAttribute processContents="skip"></anyAttribute>
	</complexType>
</element>
<element name="p"></element>
<element name="blockquote">
	<complexType>
		<choice minOccurs="0" maxOccurs="unbounded">
			<group ref="tns:flow"></group>
		</choice>
		<attribute name="cite"></attribute>
	</complexType>
</element>

<!---->
<element name="th">
	<complexType>
		<attributeGroup ref="tns:global"/>
		<attributeGroup ref="tns:aria"/>
		<attributeGroup ref="tns:event"/>
	</complexType>
</element>
<element name="td">
	<complexType mixed="true">
		<choice minOccurs="0" maxOccurs="unbounded">
			<group ref="tns:phrasing"/>
		</choice>
		<attributeGroup ref="tns:global"/>
	</complexType>
</element>
<element name="tr">
	<complexType>
		<choice minOccurs="0" maxOccurs="unbounded">
			<element ref="tns:td"/>
			<element ref="tns:th"/>
		</choice>
	</complexType>
</element>
<element name="table">
	<complexType>
		<sequence>
			<element name="caption" minOccurs="0"></element>
			<element name="colgroup" minOccurs="0">
				<complexType>
					<sequence>
						<element name="col" minOccurs="0" maxOccurs="unbounded"></element>
					</sequence>
				</complexType>
			</element>
			<choice>
				<element ref="tns:tr" minOccurs="0" maxOccurs="unbounded"/>
				<sequence>
					<element name="thead" minOccurs="0">
						<complexType>
							<sequence>
								<element ref="tns:tr" minOccurs="0" maxOccurs="unbounded"/>
							</sequence>
						</complexType>
					</element>
					<element name="tbody" minOccurs="0" maxOccurs="unbounded"></element>
					<element name="tfoot" minOccurs="0"></element>
				</sequence>
			</choice>
		</sequence>
	</complexType>
</element>
<!--リスト要素-->
<element name="li">
	<complexType mixed="true">
		<group ref="tns:flow" minOccurs="0" maxOccurs="unbounded"></group>
	</complexType>
</element>
<element name="ul">
	<complexType>
		<sequence>
			<element ref="tns:li" minOccurs="0" maxOccurs="unbounded"></element>
		</sequence>
	</complexType>
</element>
<element name="ol">
	<complexType>
		<sequence>
			<element ref="tns:li" minOccurs="0" maxOccurs="unbounded"></element>
		</sequence>
	</complexType>
</element>
<element name="dt">

</element>
<element name="dd">

</element>
<element name="dl">
	<complexType>
		<sequence minOccurs="0" maxOccurs="unbounded">
			<element ref="tns:dt" minOccurs="0" maxOccurs="unbounded"/>
			<element ref="tns:dd" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</element>

<element name="nav">
	<complexType>
		<choice minOccurs="0" maxOccurs="unbounded">
			<group ref="tns:flow"></group>
		</choice>
	</complexType>
</element>

<element name="abbr">
	<complexType mixed="true">
		<choice minOccurs="0" maxOccurs="unbounded">
			<group ref="tns:phrasing"/>
		</choice>
		<attributeGroup ref="tns:global"/>
		<attributeGroup ref="tns:aria"/>
		<attributeGroup ref="tns:event"/>
	</complexType>
</element>
<element name="b">
	<complexType>
		<choice minOccurs="0" maxOccurs="unbounded">
			<group ref="tns:phrasing"/>
		</choice>
		<attributeGroup ref="tns:global"/>
		<attributeGroup ref="tns:aria"/>
		<attributeGroup ref="tns:event"/>
	</complexType>
</element>
<element name="cite">
	<complexType>
		<choice minOccurs="0" maxOccurs="unbounded">
			<group ref="tns:phrasing"/>
		</choice>
		<attributeGroup ref="tns:global"/>
		<attributeGroup ref="tns:aria"/>
		<attributeGroup ref="tns:event"/>
	</complexType>
</element>
<element name="code">
	<complexType>
		<choice minOccurs="0" maxOccurs="unbounded">
			<group ref="tns:phrasing"/>
		</choice>
		<attributeGroup ref="tns:global"/>
		<attributeGroup ref="tns:aria"/>
		<attributeGroup ref="tns:event"/>
	</complexType>
</element>
<element name="dfn">
	<complexType>
		<choice minOccurs="0" maxOccurs="unbounded">
			<group ref="tns:phrasing"/>
		</choice>
		<attributeGroup ref="tns:global"/>
		<attributeGroup ref="tns:aria"/>
		<attributeGroup ref="tns:event"/>
	</complexType>
</element>
<element name="em">
	<complexType>
		<choice minOccurs="0" maxOccurs="unbounded">
			<group ref="tns:phrasing"/>
		</choice>
		<attributeGroup ref="tns:global"/>
		<attributeGroup ref="tns:aria"/>
		<attributeGroup ref="tns:event"/>
	</complexType>
</element>
<element name="input">
	<complexType>
		<choice minOccurs="0" maxOccurs="unbounded">
			<group ref="tns:phrasing"/>
		</choice>
		<attributeGroup ref="tns:global"/>
		<attributeGroup ref="tns:aria"/>
		<attributeGroup ref="tns:event"/>
	</complexType>
</element>
<element name="kbd">
	<complexType>
		<choice minOccurs="0" maxOccurs="unbounded">
			<group ref="tns:phrasing"/>
		</choice>
		<attributeGroup ref="tns:global"/>
		<attributeGroup ref="tns:aria"/>
		<attributeGroup ref="tns:event"/>
	</complexType>
</element>
<element name="fieldset"></element>
<element name="figure"></element>
<element name="form"></element>
<element name="hr"></element>
<element name="i"></element>
<element name="iframe"></element>
<element name="img"></element>

<element name="ins"></element>



<element name="main"></element>
<element name="article"></element>
<element name="header"></element>
<element name="aside"></element>
<element name="footer"></element>
<element name="section"></element>
<element name="a">
	<complexType mixed="true">
		<choice minOccurs="0" maxOccurs="unbounded">
			<group ref="tns:phrasing"/>
		</choice>
		<attributeGroup ref="tns:global"/>
		<attributeGroup ref="tns:aria"/>
		<attributeGroup ref="tns:event"/>
		<attribute name="href"/>
		<attribute name="hreftype"></attribute>
	</complexType>
</element>

<element name="address">
	<complexType>
		<choice minOccurs="0" maxOccurs="unbounded">
			<group ref="tns:flow"/>
		</choice>
		<attributeGroup ref="tns:global"/>
		<attributeGroup ref="tns:aria"/>
		<attributeGroup ref="tns:event"/>
	</complexType>
</element>
<element name="audio"></element>

<element name="bdo"></element>
<element name="bdi"></element>
<element name="br"></element>
<element name="button"></element>
<element name="canvas"></element>

<element name="data"></element>
<element name="datalist"></element>
<element name="del"></element>
<element name="details">
	<complexType>
		<choice minOccurs="0" maxOccurs="unbounded">
			<group ref="tns:phrasing"/>
			<element name="summary"></element>
		</choice>
		<attributeGroup ref="tns:global"/>
		<attributeGroup ref="tns:aria"/>
		<attributeGroup ref="tns:event"/>
	</complexType>
</element>

<element name="embed"></element>

<complexType name="heading" mixed="true">
	<choice minOccurs="0" maxOccurs="unbounded">
		<group ref="tns:phrasing"/>
	</choice>
	<attributeGroup ref="tns:global"/>
	<attributeGroup ref="tns:aria"/>
	<attributeGroup ref="tns:event"/>
</complexType>
<element name="h1" type="tns:heading"></element>
<element name="h2" type="tns:heading"></element>
<element name="h3" type="tns:heading"></element>
<element name="h4" type="tns:heading"></element>
<element name="h5" type="tns:heading"></element>
<element name="h6" type="tns:heading"></element>

<element name="label"></element>
<element name="map"></element>
<element name="mark"></element>
<element name="menu"></element>
<element name="meter"></element>

<element name="noscript"></element>
<element name="object"></element>
<element name="output"></element>
<element name="picture"></element>
<element name="pre"></element>
<element name="progress"></element>
<element name="q"></element>
<element name="ruby"></element>
<element name="s"></element>
<element name="samp"></element>
<element name="select"></element>
<element name="small"></element>
<element name="span"></element>
<element name="strong"></element>
<element name="sub"></element>
<element name="sup"></element>
<element name="svg"></element>
<element name="template"></element>
<element name="textarea"></element>
<element name="time"></element>
<element name="u"></element>
<element name="var"></element>
<element name="video"></element>
<element name="wbr"></element>

</schema>